.order{
    margin: 20px;
    padding: 40px;
    border: 1px solid lightgrey;
    background-color: white;
    position: relative;
}
.order>h2{
    font-size :30px;
    font-weight: normal;
}
span{
    font-weight:normal;
    font-size: 14px;
}
.order_date{
    position: absolute;
    top: 40px;
    right: 20px;
}
.order_total{
    font-weight: 500;
    text-align: right;
}