.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    margin: 10px;
    width: 100%;
    min-width: 100px;
    max-height: 400px;
    z-index: 1;
  }
  .product_info{
      width: 90%;
      height: 100px;
      margin-bottom: 1px;
  }
  .product_info_price{
      margin-top: 5px;
  }
  .product_info_rating{
      display: flex;
      margin-top: 3px;
      color: gold;
  }
  .product >img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }
  .product >button  {
      background-color: #ECA64F;
      margin-top: 10px;
      color:black;
      border: 1px solid white ;
      font-size:14px;
      padding:10px; 
      cursor: pointer;
  
  }